<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let p of perfiles">
      <ion-label>
        <h1>Tipo: {{p.tipo}}</h1>
        Usuario:
        <p></p> 
        Nombre: {{p.usuario.nombre}} 
        <p></p>
        Email:  {{p.usuario.email}}
      </ion-label>
      <ion-button (click)="editPerfil(p.id)">Modificar perfil</ion-button>
      <ion-button (click)="deletePerfil(p.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content> 

<ion-footer>
  <ion-button (click)="gotoPerfilAdd()" expand="full">Añadir nuevo perfil</ion-button>
  <ion-button (click)="gotoHome()" expand="full">Volver al inicio</ion-button>    
</ion-footer>